<md-card>
  <md-card-title>Visuals</md-card-title>
  <md-card-content>

    <swiper *xs [config]="xsconfig">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img div src="/assets/images/p7BabylonHX.jpg">
          <div>
            Slide 1
          </div>
        </div>
        <div class="swiper-slide">
          <img  src="/assets/images/p1fracVader.jpg">
          <div>
            Slide 2
          </div>
        </div>
        <div class="swiper-slide">
          <img  src="/assets/images/p3HypeSketch.jpg">
          <div>
            Slide 3
          </div>
        </div>
        <div class="swiper-slide">
          <img  src="/assets/images/p6BotBlaster.jpg">
          <div>
            Slide 4
          </div>
        </div>
        <div class="swiper-slide">
          <img  src="/assets/images/p5GlamBox.jpg">
          <div>
            Slide 5
          </div>
        </div>
        <div class="swiper-slide">
          <img  src="/assets/images/p4HypeSketch2.jpg">
          <div>
            Slide 6
          </div>
        </div>
        <div class="swiper-slide">
          <img  src="/assets/images/p2SkullCraft.jpg">
          <div>
            Slide 7
          </div>
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </swiper>

    <swiper *sm [config]="mdconfig">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img div src="/assets/images/p7BabylonHX.jpg">
            <div>
              Slide 1
            </div>
          </div>
          <div class="swiper-slide">
            <img  src="/assets/images/p1fracVader.jpg">
            <div>
              Slide 2
            </div>
          </div>
          <div class="swiper-slide">
            <img  src="/assets/images/p3HypeSketch.jpg">
            <div>
              Slide 3
            </div>
          </div>
          <div class="swiper-slide">
            <img  src="/assets/images/p6BotBlaster.jpg">
            <div>
              Slide 4
            </div>
          </div>
          <div class="swiper-slide">
            <img  src="/assets/images/p5GlamBox.jpg">
            <div>
              Slide 5
            </div>
          </div>
          <div class="swiper-slide">
            <img  src="/assets/images/p4HypeSketch2.jpg">
            <div>
              Slide 6
            </div>
          </div>
          <div class="swiper-slide">
            <img  src="/assets/images/p2SkullCraft.jpg">
            <div>
              Slide 7
            </div>
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </swiper>
   
      <swiper *md [config]="mdconfig">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img div src="/assets/images/p7BabylonHX.jpg">
              <div>
                Slide 1
              </div>
            </div>
            <div class="swiper-slide">
              <img  src="/assets/images/p1fracVader.jpg">
              <div>
                Slide 2
              </div>
            </div>
            <div class="swiper-slide">
              <img  src="/assets/images/p3HypeSketch.jpg">
              <div>
                Slide 3
              </div>
            </div>
            <div class="swiper-slide">
              <img  src="/assets/images/p6BotBlaster.jpg">
              <div>
                Slide 4
              </div>
            </div>
            <div class="swiper-slide">
              <img  src="/assets/images/p5GlamBox.jpg">
              <div>
                Slide 5
              </div>
            </div>
            <div class="swiper-slide">
              <img  src="/assets/images/p4HypeSketch2.jpg">
              <div>
                Slide 6
              </div>
            </div>
            <div class="swiper-slide">
              <img  src="/assets/images/p2SkullCraft.jpg">
              <div>
                Slide 7
              </div>
            </div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
        </swiper>

        <swiper *lg [config]="lgconfig">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img div src="/assets/images/p7BabylonHX.jpg">
                <div>
                  Slide 1
                </div>
              </div>
              <div class="swiper-slide">
                <img  src="/assets/images/p1fracVader.jpg">
                <div>
                  Slide 2
                </div>
              </div>
              <div class="swiper-slide">
                <img  src="/assets/images/p3HypeSketch.jpg">
                <div>
                  Slide 3
                </div>
              </div>
              <div class="swiper-slide">
                <img  src="/assets/images/p6BotBlaster.jpg">
                <div>
                  Slide 4
                </div>
              </div>
              <div class="swiper-slide">
                <img  src="/assets/images/p5GlamBox.jpg">
                <div>
                  Slide 5
                </div>
              </div>
              <div class="swiper-slide">
                <img  src="/assets/images/p4HypeSketch2.jpg">
                <div>
                  Slide 6
                </div>
              </div>
              <div class="swiper-slide">
                <img  src="/assets/images/p2SkullCraft.jpg">
                <div>
                  Slide 7
                </div>
              </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
          </swiper>
          <swiper *xl [config]="xlconfig">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img div src="/assets/images/p7BabylonHX.jpg">
                  <div>
                    Slide 1
                  </div>
                </div>
                <div class="swiper-slide">
                  <img  src="/assets/images/p1fracVader.jpg">
                  <div>
                    Slide 2
                  </div>
                </div>
                <div class="swiper-slide">
                  <img  src="/assets/images/p3HypeSketch.jpg">
                  <div>
                    Slide 3
                  </div>
                </div>
                <div class="swiper-slide">
                  <img  src="/assets/images/p6BotBlaster.jpg">
                  <div>
                    Slide 4
                  </div>
                </div>
                <div class="swiper-slide">
                  <img  src="/assets/images/p5GlamBox.jpg">
                  <div>
                    Slide 5
                  </div>
                </div>
                <div class="swiper-slide">
                  <img  src="/assets/images/p4HypeSketch2.jpg">
                  <div>
                    Slide 6
                  </div>
                </div>
                <div class="swiper-slide">
                  <img  src="/assets/images/p2SkullCraft.jpg">
                  <div>
                    Slide 7
                  </div>
                </div>
              </div>
              <!-- Add Pagination -->
              <div class="swiper-pagination"></div>
            </swiper>
  </md-card-content>
</md-card>


