<md-card class="wpsc9">
  <md-card-header *xl>
    <img src="{{PostContent.better_featured_image !== null ? (PostContent.better_featured_image.media_details.sizes['post-thumb']?.source_url) : null}}" md-card-image onerror="catchImgErr(this)"    />
  </md-card-header>
  <md-card-header *lg>
    <img src="{{PostContent.better_featured_image !== null ? (PostContent.better_featured_image.media_details.sizes['post-thumb']?.source_url) : null}}" md-card-image onerror="catchImgErr(this)"   />
  </md-card-header>
  <md-card-header *md>
    <img src="{{PostContent.better_featured_image !== null ? (PostContent.better_featured_image.media_details.sizes['post-thumb']?.source_url) : null}}" md-card-image onerror="catchImgErr(this)"   />
  </md-card-header>
  <md-card-header *sm class="mdSm">
    <img src="{{PostContent.better_featured_image !== null ? (PostContent.better_featured_image.media_details.sizes['post-thumb']?.source_url) : null}}" md-card-image onerror="catchImgErr(this)"   />
  </md-card-header>
  <md-card-header *xs class="mdXs">
    <img src="{{PostContent.better_featured_image !== null ? (PostContent.better_featured_image.media_details.sizes['post-thumb']?.source_url) : null}}" md-card-image onerror="catchImgErr(this)"   />
  </md-card-header>
  <md-card-content (click)="selectPost((PostContent.slugFormat + '/'+  PostContent.slug))">
    <div [innerHTML]="PostContent.title.rendered | sanitizeHtml" class="sc9TitlePost"></div>
  </md-card-content>
  <md-card-actions class="wpsc9CardActions">
    <div [mdMenuTriggerFor]="menu"  class="mdi mdi-share-variant mdi-24px box share-variant">
    </div>
    <md-menu #menu="mdMenu">
      <div md-menu-item>
        <share-container
          [direction]="vertical"
          [expandable]="false"
          [textEnabled]="false"
          [platforms]="['googlePlus','twitter','facebook']"></share-container>
      </div>
    </md-menu>
  </md-card-actions>
</md-card>
